.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  width: 100%;
  display: flex;
  font-size: large;
}

.App-header-text {
  padding: 20px;
  flex: 1;
}

.App-header-button {
  margin: 20px;
  margin-left: 0px;
  padding: 5px;
  cursor: pointer;
}

.App-blocks {
  flex: 1;
}
